In [4]:
import findspark

In [6]:
findspark.init("C:\\Users\\Software\\spark-3.3.1-bin-hadoop3\\bin\\..")

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Prueba map con spark").config("spark.executor.memory","1gb").getOrCreate()

In [8]:
data = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]

In [9]:
rdd=spark.sparkContext.parallelize(data)

In [10]:
rdd2=rdd.map(lambda x: (x,1))
for element in rdd2.collect():
    print(element)

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)

In [11]:
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [12]:
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

In [13]:
rdd2=df.rdd.map(lambda x:(x[0]+","+x[1],x[2],x[3]))

In [14]:
df2=rdd2.toDF(["nombre","género","nuevo salario"])

In [15]:
df2.show()

+---------------+------+-------------+
|         nombre|género|nuevo salario|
+---------------+------+-------------+
|    James,Smith|     M|           30|
|      Anna,Rose|     F|           41|
|Robert,Williams|     M|           62|
+---------------+------+-------------+